body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
}

.heading-primary {
    color: $color-light;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 7rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 2rem;
    
        animation: moveInLeft 1s ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.2rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(to right, $orange-light, $orange-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

.tabcontent__heading {
    font-size: 3rem;
    text-align: center;
    color: $grey-dark;
}

.tabcontent__description {
    padding-top: 4rem;
    font-size: 1.5rem;
}

.section-portfolio {
    position: relative;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        // transform: translate(-50%, -50%); -- transform already applied in _home.scss
        text-align: center;
    }

    &__heading {
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.2;
        color: $color-light;
    }
}