.section-about {
    padding: 10rem 0;
}

/* Style the tab menu */
.section-about__tab-menu {
    overflow: hidden;
    background-color: $grey-light;

    /* Style the buttons inside the tab */
    & button {
        background-color: inherit;
        color: $color-light;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 2rem;
        transition: 0.3s;
        font-size: 2rem;

        /* Change background color of buttons on hover */
        &:hover {
            background-color: $orange-light;
        }

        /* Create an active/current tablink class */
        &.active {
            background-color: $orange-dark;
        }
    }
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10rem 20rem;
    border-top: none;
}

.section-portfolio {
    background-image: linear-gradient(
        to right, 
        rgba($grey-light, 0.8),
        rgba($grey-dark, 0.8)),
    url('../src/img/working.jpg');
    background-size: cover;
}