.section-about {
    padding: 6rem 0 0 0;

    @include respond(tab-port) {
        padding: 4rem 0 0 0;
    }
}

.section-portfolio {
    height: 100%;
    margin-top: 10rem;
    background-image: linear-gradient(
        to right, 
        rgba($color-dark, 0.9),
        rgba($grey-dark, 0.9)),
    url('../src/img/working-small.jpg');
    background-size: cover;
    transform: skewY(-7deg);

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           (min-width: 112.5em) {
            background-image: linear-gradient(
                to right, 
                rgba($color-dark, 0.9),
                rgba($grey-dark, 0.9)),
            url('../src/img/working.jpg');
           }

    & > * {
        transform: skewY(7deg) translate(-50%, -50%);
    }

    @include respond(tab-port) {
        height: 80%;
        margin-top: 5rem;
    }

    @include respond(phone) {
        height: 60%;
        margin-top: 5rem;
    }
}

.section-contact {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $orange-light, $orange-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.contact {
    background-image: linear-gradient(105deg, 
                      rgba($color-light, .9) 0%, 
                      rgba($color-light, .9) 50%, 
                      transparent 50%), 
                    url('../src/img/post.jpg');
    background-size: 100%;
    border-radius: 3px;
    box-shadow: $standard-box-shadow;

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
                          rgba($color-light, .9) 0%, 
                          rgba($color-light, .9) 65%, 
                          transparent 65%), 
                    url('../src/img/post.jpg');
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
                          rgba($color-light, .9) 0%, 
                          rgba($color-light, .9) 100%), 
                    url('../src/img/post.jpg');
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}